# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

yoshi.h~
yoshi.cpp~
thing.h~
startwindow.cpp~
splatform.cpp~
platform.h~
platform.cpp~
mplatform.cpp~
moc_startwindow.cpp
moc_pausewindow.cpp
moc_mainwindow.cpp
moc_gamewindow.cpp
mainwindow.cpp~
magic.h~
magic.cpp~
lava.h~
lava.cpp~
koopa.h~
koopa.cpp~
kamek.h~
kamek.cpp~
heart.h~
heart.cpp~
goomba.h~
goomba.cpp~
gamewindow.h~
gamewindow.cpp~
game_jesusega.pro
game_jesusega
coin.h~
coin.cpp~
bplatform.cpp~
bill.h~
bill.cpp~
bg.cpp~
Makefile
.gitignore~
